.logo{
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  line-height: 0;
  padding: 0 10px;
  transition: all 0.2s ease;
  height: $header-height;

  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__pic{
    width: 50px;
    height: 50px;
    img{
      max-width: 100%;
      vertical-align: bottom;
    }
  }
  &__name{
    margin-left: 10px;
  }

  &__trigger{
    @include from($breakpoint-md){
      display: none;
    }

    border: none;
    line-height: 1;
    padding: 10px;
    i{
      display: block;
    }
  }
}
