.search {
  display: flex;
  align-items: center;
  &__toggle{
    color: $default-text-color;
    display: block;
    line-height: $header-height;
    min-height: $header-height;
    padding: 0 15px;
    transition: all 0.2s ease-in-out;
    border: none;
    background: none;
  }
  &__icon{
    font-size: 17px;
  }
  &__input{
    input {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      font-size: 18px;
      height: 40px;
      outline: none;
      padding: 5px;

      @include to($breakpoint-sm) {
        width: 85px;
      }

      @include placeholder {
        color: lighten($default-text-color, 20%);
        font-style: italic;
      }
    }
  }
}
